
# PlanAhead Generated physical constraints 

NET "Inputs[3]" LOC = P180;
NET "Inputs[2]" LOC = P181;
NET "Inputs[1]" LOC = P182;
NET "Inputs[0]" LOC = P183;
NET "LR[1]" LOC = P168;
NET "LR[0]" LOC = P167;
NET "Load" LOC = P169;
NET "Reset" LOC = P171;
NET "CLK_reset" LOC = P161;
NET "CLK" LOC = P184;

 #PlanAhead Generated physical constraints  
 
NET "Seven_Segment[0]" LOC = P10;
NET "Seven_Segment[1]" LOC = P7;
NET "Seven_Segment[2]" LOC = P11;
NET "Seven_Segment[3]" LOC = P5;
NET "Seven_Segment[4]" LOC = P4;
NET "Seven_Segment[5]" LOC = P12;
NET "Seven_Segment[6]" LOC = P9;

NET "segcell" LOC = P15;

